<!DOCTYPE html>
<html>
<head>
  <title>Remove Student</title>
</head>
<body>
  <form action="/students" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Save</button>
</body>
</html>


