#octopus {
	position: absolute;
	margin-left: 40%;
	top: 120px;
	z-index: 0;
}

#glasses {
	position: absolute;
	top: 223px;
	left: 616px;
	z-index: 1;
}

#hat {
	position: absolute;
	top: 45px;
	left: 559px;
	z-index: 1;
}